#map {
  width: 90%;
  height: 800px;
  background-color: grey;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  color: #333333;
  background-color: #FBF1A9;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: #333333;
  border-style: solid;
  border-width: 4px;
  border-color: #333333;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px;
  transition: transform .2s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

.modal {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

a {
  color: black;
  display: inline-block;
}

a:hover {
  color: #8B4513;
}

.beer-style {
  height: 1rem;
  width: 1rem;
  background-color: #FBF1A9;
}
